#intro{"data-speed" => "3", "data-type" => "background"}
  %section.grid
    .container
      .row
        .col-md-12
          %h1 - Lighthouse Studies -
          %image{src: "assets/lighthouse.png"}
          %h2 Catchy slogan here, make it a good one...



%section#services
  .container
    .row
      .col-md-4.col-sm-4
        .panel.panel-default
          %h3.ruby
            %a{href: "#"}
              Ruby on Rails
              %img.icon.icon-inactive{src: "assets/ruby-icon.png"}/
              %img.icon.icon-active{src: "assets/ruby-icon-active.png"}/
          .service-description
            %p
              Ut dapibus ipsum eget lacus
              = succeed "." do
                %a{href: "#"} molestie posuere
          %p
            %a.btn.btn-primary{href: "#", role: "button"} Call to Action
      .col-md-4.col-sm-4
        .panel.panel-default
          %h3.ruby-motion
            %a{href: "#"}
              Ruby Motion
              %img.icon.icon-inactive{src: "assets/apple-icon.png"}/
              %img.icon.icon-active{src: "assets/apple-icon-active.png"}/
          .service-description
            %p
              Ut dapibus ipsum eget lacus molestie posuere. Suspendisse potenti. Curabitur et magna quam. Ut vel luctus risus, at rhoncus purus. Nullam vehicula, quam eu hendrerit consectetur, turpis erat bibendum leo, at ultricies erat quam a tellus.
          %p
            %a.btn.btn-primary{href: "#", role: "button"} Call to Action
      .col-md-4.col-sm-4
        .panel.panel-default
          %h3.joybox
            %a{href: "#"}
              Joybox
              %img.icon.icon-inactive{src: "assets/controller-icon.png"}/
              %img.icon.icon-active{src: "assets/controller-icon-active.png"}/
          .service-description
            %p
              Ut dapibus ipsum eget lacus molestie posuere. Suspendisse potenti. Curabitur et magna quam. Ut vel luctus risus, at rhoncus purus.
          %p
            %a.btn.btn-primary{href: "#", role: "button"} Call to Action


#reviews{"data-speed" => "3", "data-type" => "background"}
  %section.grid
    .container
      .row
        .col-md-12
          %h3 Maybe a review?
          .service-description
            %p
              Ut dapibus ipsum eget lacus molestie posuere. Suspendisse potenti. Curabitur et magna quam. Ut vel luctus risus, at rhoncus purus. Nullam vehicula, quam eu hendrerit consectetur, turpis erat bibendum leo, at ultricies erat quam a tellus.
              %a{href: "#"} molestie posuere
          %a.btn.btn-primary.btn-inverted{href: "#", role: "button"} Call to Action


%section#pre-footer
  .container
    .row
      .col-md-4.col-sm-6
        .panel.panel-default
          %h3 Upcoming Courses
          %ul.list-group
            - Refinery::Courses::Course.all.each_with_index do |course, index|
              %li{class: 'list-group-item'}
                = course.date.strftime("%B %e")
                -
                = link_to course.title, refinery.courses_course_path(course)
      .col-md-8.col-sm-6
        .panel.panel-default
          %h3 About the Instructor
          %image.pull-left{src: "assets/garrett-photo.png"}
          %p
            Hello there my name is Garrett Heinlen. I'm an enthusiastic Ruby on Rails developer, actively seeking to be ballin'. I enjoy long talks on the internet and my perfect evening is coding with the ones I love...
          %p
            Hello there my name is Garrett Heinlen. I'm an enthusiastic Ruby on Rails developer, actively seeking to be ballin'. I enjoy long talks on the internet and my perfect evening is coding with the ones I love...
